@use '../base/variables' as *;
@use '../base/mixin' as *;

.header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  left: 0;
  height: rem(80);
  @include mq {
    height: rem(180);
  }
}

.header.is-open {
  background-color: #001135;
}

.header__inner {
  max-width: rem(1440);
  margin: 0 auto;
  width: 100%;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  @include mq {
    align-items: flex-start;
  }
}

.header__logo {
  img {
    height: rem(80);
    @include mq {
      height: rem(180);
    }
  }
}

.header__hamburger {
  width: rem(25);
  height: rem(14);
  position: relative;
  margin-right: rem(30);
  z-index: 1;
  @include mq {
    display: none;
  }

  &.is-open {
    span {
      &:nth-child(1) {
        width: rem(26);
        transform: rotate(45deg);
        top: rem(6);
        background-color: $color-white;
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        width: rem(26);
        transform: rotate(-45deg);
        bottom: rem(7);
        background-color: $color-white;
      }
    }
  }
}

.header__hamburger span {
  position: absolute;
  width: 100%;
  height: rem(1);
  background-color: $color-main;
  left: 0;
  transition: all $transition-base;
  &:nth-child(1) {
    top: 0;
  }
  &:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  &:nth-child(3) {
    width: rem(17);
    bottom: 0;
  }
}
