// ============================================
// ボタン
// ============================================
@use '../base/variables' as *;
@use '../base/mixin' as *;

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: rem(10);
  width: 100%;
  padding: rem(12) rem(40);
  border-radius: 4px;
  font-size: $font-size-base;
  text-align: center;
  transition: all $transition-base;
  cursor: pointer;
  @include mq {
    padding: rem(11) rem(20);
  }

  // メインカラー
  &--primary {
    background-color: $color-accent;
    color: $color-white;

    &:hover {
      opacity: 0.8;
    }
  }

  // アウトライン
  &--outline {
    background-color: transparent;
    border: rem(1) solid $color-white;
    color: $color-white;

    &:hover {
      background-color: $color-white;
      color: $color-accent;
      .btn__icon {
      filter: brightness(0) saturate(100%) invert(11%) sepia(85%) saturate(2849%) hue-rotate(218deg) brightness(91%) contrast(101%);
    }
    }
  }

  &__icon {
    width: rem(16);
    @include mq {
      width: rem(22);
    }
  }

  span {
    @include mq {
      font-size: rem(22);
    }
  }
}
