@use '../base/variables' as *;
@use '../base/mixin' as *;

.mv {
  overflow: hidden;
  @include mq {
    // height: 100svh;
  }
}

.mv__content {
  @include mq {
    margin-top: rem(80);
    display: flex;
    align-items: center;
    gap: rem(101);
  }
}

.mv__swiper {
  height: 100svh;
  width: 100%;
}

.mv__title {
  margin-top: rem(20);
  @include mq {
    margin-top: 0;
    writing-mode: vertical-rl;
  }
}

.mv__title-line {
  display: block;
  font-size: rem(34);
  font-weight: 700;
  margin-left: rem(5);
  @include mq {
    font-size: rem(60);
  }
}

.mv__title-line,
.mv__catch {
  // opacity: 0;
  visibility: hidden;
}

.mv__slide {
  height: 100%;

  picture {
    width: 100%;
    height: 100%;
    display: block;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.mv__catch-wrap {
  display: flex;
  width: fit-content;
  animation: marquee 20s linear infinite;
}

.mv__catch {
  font-size: rem(84);
  font-weight: 700;
  color: $color-accent;
  white-space: nowrap;
  flex-shrink: 0;
  padding-right: rem(30);
  @include mq {
    font-size: rem(150);
  }
}

@keyframes marquee {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}