@use '../base/variables' as *;
@use '../base/mixin' as *;

.section-title {
  font-family: $font-family-en;
  font-size: rem(38);
  font-weight: 700;
  color: $color-main;

  .char {
    display: inline-block;
    opacity: 0;
  }
  @include mq {
    font-size: rem(70);
  }
}