@use '../base/variables' as *;
@use '../base/mixin' as *;


.sidebar__inner {
  // padding-inline: rem(15);
  // margin-inline: auto;
  // width: 100%;
}

.sidebar__contents {
  display: grid;
  gap: rem(40);
}

.sidebar__title {
  padding: rem(15) rem(18);
  background-color: $color-bg;
  color: $color-white;
  font-size: rem(14);
  font-weight: 500;
}

.sidebar__list {
  display: grid;
  gap: rem(18);
  margin-top: rem(18);
}

.sidebar__item {
  margin-inline: rem(18);
  padding-bottom: rem(18);
  border-bottom: rem(1) solid #E4E4E4;
}

.sidebar__link {
  // display: flex;
  display: grid;
  grid-template-columns: 100fr 191fr;
  gap: rem(18);
}

.sidebar__img {
  img {
    aspect-ratio: 100 / 100;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.sidebar__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar__text {
  font-size: rem(12);
  line-height: 2.3333;
}

.sidebar__date {
  color: #A9A9A9;
  font-size: rem(10);
  font-weight: 700;
}

