@use '../base/variables' as *;
@use '../base/mixin' as *;

.sub-mv {
  margin-top: rem(110);
  @include mq {
    margin-top: rem(236);
  }
}

.sub-mv__inner {
  margin-left: rem(10);
  max-width: rem(1440);
  width: 100%;

  @include mq {
    margin-left: 0;
    margin-inline: auto;
  }
}

.sub-mv__content {
  position: relative;
  max-width: rem(1270);
  width: 100%;
  margin-left: auto;
}

.sub-mv__title {
  background-color: $color-white;
  padding-block: rem(18) rem(36);
  padding-inline: rem(18) rem(66);
  position: absolute;
}

.sub-mv__en {
  font-family: $font-family-en;
  color: $color-main;
  font-size: rem(44);
  font-weight: 700;
  @include mq {
    font-size: rem(100);
  }
}

.sub-mv__ja {
  color: $color-main;
  font-size: rem(12);
  font-weight: 700;
  margin-top: rem(-6);
  @include mq {
    font-size: rem(20);
    margin-top: rem(-16);
  }
}

.sub-mv__img img {
  aspect-ratio: 365 / 280;
  width: 100%;
  object-fit: cover;
  @include mq {
    aspect-ratio: 1270 / 514;
  }
}

